body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container * {
    position: absolute;
}

.container > div {
    background-color: white;
}

.horizontal {
    width: 100%;
    height: 1px;
    top: 50%;
}

.vertical {
    width: 1px;
    height: 100%;
    left: 50%;
}

.target {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    top: 50%;
    left: 50%;
    transform: translate(20px, 20px);
    color: white;
    font-size: large;
    font-weight: bold;
}