body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    position: relative;
    width: 200px;
    height: 120px;
}

.container > div {
    position: absolute;
}

.container .interface {
    width: 120px;
    height: 120px;
    left: 0;
    top: 0;
}

.container .coordinates {
    color: white;
    font-size: large;
    font-weight: bold;
    right: 0;
    bottom: 0;
}

.interface > div {
    position: absolute;
    border: 1px solid white;
}

.interface .left {
    top: 60px;
}

.interface .right {
    top: 60px;
}

.interface .top {
    left: 60px;
}

.interface .bottom {
    left: 60px;
}